<nav id="options">
	<ul>
		<li>
			<span>Limite <br/>
				<input type="number" name="taille" id="taille"/>
			</span>
		</li>
		<li>
			<span>Relations <br/>
				<label>
					<select class="selectRelation" multiple size="2">
						<option selected> None... </option>
					</select>
				</label>
			</span>
		</li>
	</ul>
</nav>
