console.log('vous êtes dans jsonrep');
console.log("{{ data }}");
var machin = "{{ data }}";
console.log(machin);
$('#conteneurD3').html('<h1>JE PEUX INSERER DES CHOSES DANS LE CONTENEUR D3, DANS PAS LONGTEMPS CA SERA DES BALISES SVG</h1>{{ data }}');
