<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8" />
		<title>{% block title %}DataNavigator{% endblock %}</title>
		{% block stylesheets %}
			{% stylesheets filter='cssrewrite' 'css/*' %}
				<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
			{% endstylesheets %}
		{% endblock %}
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
	</head>
	{% block js %}
		{% javascripts 'js/*' %}
			<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}
	{% endblock %}
	<body>

		{# Le menu supérieur est présent sur toutes les pages #}
		<nav id="menusuperieur">

		</nav>

		{# Le conteneur global contient tout ce qui est dessous #}
		<div id="conteneurglobal">
			{% block contenuglobal %}
				{# La page pour explorer les données contient son interface propre #}
				{# Les autres pages ont chacune leur propre interface graphique #}
			{% endblock %}
		</div>

	</body>
</html>
