.histo
{
	border-collapse: collapse;
	width:100%;
	margin-top:20px;
}

.histo td, .histo th
{
	padding: 10px;
	background-color:white;
	border: solid 1px lightgrey;
	border-radius:5px;
}

.histochoix
{
	width:100%;
}

.histochoix td
{
	height:20px;
}

.histochoix td, .histochoix th
{
	text-align:left;
}

select
{
	padding:3px;
}

.histochoix img
{
	border:solid 1px lightgrey;
	padding: 3px;
	border-radius: 3px;
	margin:3px;
	background-image:url('/images/fondbouton.png');
	background-size: 100% 100%;
	vertical-align:top;
}

.histochoix img:hover
{
	border: solid 1px grey;
}

.histochoix .sourcechoisie, .histochoix .vuechoisie
{
	border: solid 2px red;
}

.histochoix .sourcechoisie:hover,.histochoix .vuechoisie:hover
{
	border: solid 3px red;
}

.invisible
{
	display:none;
}

/* Cachons la case à cocher */  
#imposefav:not(:checked), #imposefav:checked {  
	position: absolute;  
	left: -9999px;  
}

/* on prépare le label */  
#imposefav:not(:checked) + label, #imposefav:checked + label {  
	position: relative; /* permet de positionner les pseudo-éléments */  
	padding-left: 25px; /* fait un peu d'espace pour notre case à venir */  
	cursor: pointer;    /* affiche un curseur adapté */  
}

/* Aspect des checkboxes */  
/* :before sert à créer la case à cocher */  
#imposefav:not(:checked) + label:before,  
#imposefav:checked + label:before {  
  content: '';  
  position: absolute;  
  left:0px; top: -6px;  
  width: 20px; height: 20px; /* dim. de la case */  
  border: 1px solid #aaa;  
  background: #f8f8f8;  
  border-radius: 3px; /* angles arrondis */  
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3) /* légère ombre interne */  
}  
   
/* Aspect général de la coche */  
#imposefav:not(:checked) + label:after,  
#imposefav:checked + label:after {  
  content: '✔';  
  position: absolute;  
  top: -7px; left: 3px;  
  font-size: 22px;  
  color: #09ad7e;  
}  
/* Aspect si "pas cochée" */  
#imposefav:not(:checked) + label:after {  
  opacity: 0; /* coche invisible */  
  transform: scale(0); /* mise à l'échelle à 0 */  
}  
/* Aspect si "cochée" */  
#imposefav:checked + label:after {  
  opacity: 1; /* coche opaque */  
  transform: scale(1); /* mise à l'échelle 1:1 */  
}  


