#infos
{
	display:none;
}

#options
{
	display:none;
}

#menudonnees
{
	float:left;
}

#menuvue
{
	float:right;
}

#menudonnees ul li, #menuvue ul li
{
	float:none;
}

#recherche
{
	width:200px;
	margin:auto;
}

#menudonnees img, #menuvue img, #recherche img
{
	margin:0px;
}

#conteneurD3
{
	margin-left:60px;
	margin-right:60px;
}

/*iframe {height:300%;}*/
/*
#conteneurmenu
{
	position:fixed;
	width:100%;
	height:100%;
	top:50px;
	left:0;
	z-index:0;
	background-image:url('/images/fond.png');
	background-size:100% 100%;
}

#conteneurpage
{
	position:absolute;
	width:55%;
	max-height:80%;
	top:20%;
	left:20%;
	padding:10px;
	border-radius:5px;
	z-index:1;
	background-color: #edf6fe;
	opacity:0.8;
	visibility:hidden;
	overflow:scroll;
}

#conteneurtests
{
	position:absolute;
	width:55%;
	max-height:80%;
	top:20%;
	left:20%;
	padding:10px;
	border-radius:5px;
	z-index:2;
	background-color: #edf6fe;
	opacity:0.8;
	visibility:hidden;
	overflow:scroll;
}

#conteneurD3
{
	position:fixed;
	visibility:hidden;
	top:40px;
	left:0;
	z-index:3;
}

#conteneurglobal nav
{
	background-color: #edf6fe;
	border: solid 1px lightgrey;
	border-radius: 3px;
	padding: 5px;
	opacity:0.9;
	display:block;
	position:absolute;
	z-index:10;
}

#conteneurglobal nav img
{
	border:solid 1px lightgrey;
	padding: 3px;
	border-radius: 3px;
	margin:3px;
	background-image:url('/images/fondbouton.png');
	background-size: 100% 100%;
	vertical-align:top;
}

#conteneurglobal nav img:hover
{
	border: solid 1px grey;
}

#conteneurglobal nav span
{
	padding: 3px;
	display:inline-block;
	vertical-align:top;
}

#conteneurglobal nav input
{
	width:30px;
	margin:3px;
	padding:3px;
	border-radius:3px;
	display:inline-block;
}

#conteneurglobal nav input[type="text"]
{
	width:200px;
}

#form_relations
{
	width:110px;
	height:4em;
}
#form_mot
{
	width:150px;
	font-size:1.5em;
	height:40px;
}

#conteneurglobal nav a
{
	text-decoration:none;
}

#infos
{
	background-color: #edf6fe;
	width:350px;
	min-width:100px;
	height:100px;
	min-height:50px;
	overflow-y:scroll;
	overflow-x:hidden;
}

.ui-widget-content
{
	background-color: #edf6fe;
}

#conteneurglobal nav ul:not(.tabs), #conteneurglobal nav li
{
	padding:0px;
	margin:0px;
	display:inline;
}

#conteneurglobal nav li
{
	liststyletype:none;
}*/

.activesource, .activevue
{
	border: solid 2px red;
}

.activesource:hover, .activevue:hover
{
	border: solid 3px red;
}

#loading
{
	z-index:2000;
	position:absolute;
	left:40%;
	top:40%;
	visibility:hidden;
}

nav input[type="text"]
{
	font-size:20px;
	width:150px;
	vertical-align:top;
}
