<h1>Exécution des tests de l'application !</h1>

<div id="qunit"></div>
<div id="qunit-fixture"></div>

{% block stylesheets %}
	{% stylesheets filter='cssrewrite' '@JCFrontBundle/Resources/public/css/*' %}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
	{% endstylesheets %}
{% endblock %}

{% block js %}
	{% javascripts '@RelaisRelaisBundle/Resources/public/js/tests/*' %}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}
