#menusuperieur
{
	background-color: #edf6fe;
	border-bottom: solid 1px lightgrey;
	border-radius: 3px;
	opacity:0.9;
	display:block;
	z-index:15;
	font-size:0px;
}

#menusuperieur li
{
	border:solid 1px lightgrey;
	padding: 3px 10px 0px 10px;
	border-radius: 3px;
	background-image:url('/images/fondbouton.png');
	background-size: 100% 100%;
	vertical-align:bottom;
	font-size:18px;
}

#menusuperieur li:hover
{
	border: solid 1px grey;
}

#menusuperieur a
{
	text-decoration:none;
	color:black;
	vertical-align:top;
}

#menusuperieur ul:not(.tabs), #menusuperieur li
{
	margin:0px;
	display:inline-block;
}
#menusuperieur ul:not(.tabs)
{
	padding:0px;
	width:100%;
	text-align:justify;
}

#menusuperieur li
{
	liststyletype:none;
}

#menusuperieur #gauche
{
	float:left;
}

#menusuperieur #droit
{
	width:100%;
	text-align:right;
}
