

nav
{
	background-color: #edf6fe;
/*	border-bottom: solid 1px lightgrey;
	border-radius: 3px;*/
	opacity:0.9;
	display:block;
	z-index:15;
	font-size:0px;
}

nav li
{
	padding: 3px 5px 0px 5px;
	border-radius: 3px;
	background-color: #f0f0f0;
	
	border-right: 1px solid rgba(9, 9, 9, 0.125);
	
	position:relative;
	
	float: left;
	vertical-align:bottom;
	font-size:18px;
}

nav li:hover, nav .pagecourante
{
	border: solid 1px grey;
}


nav a
{
	display: inline-block;
	padding: 5px 10px 5px;
	position: relative;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
	text-decoration:none;
	color: #5d5d5d;
	font-weight:bold;
	vertical-align:top;
}

nav ul:not(.tabs)
{
	padding:0px;
	width:100%;
	list-style: none;
}

nav #gauche
{
	float:left;
}

nav #droit
{
	width:100%;
	text-align:right;
}

nav img
{
	margin-right:10px;
}
