/**
 * On regarde les options indiquées
 * On récupère le json fabriqué par la partie serveur du relais (contrôleur) en lui donnant les options indiquées
 * On appelle la vue (script js) en lui donnant le json fabriqué
 */
(function()
{
	console.log('lancement de layoutrelations.js');
	//Récupération des valeurs (layout l150 à 209)

		//Source
		if ($('#wordnet').attr('class') == 'activesource') { var source = 'wordnet'; }
		if ($('#dbpedia').attr('class') == 'activesource') { var source = 'dbpedia'; }
		if ($('#debian').attr('class') == 'activesource') { var source = 'debian'; }
		if ($('#humour').attr('class') == 'activesource') { var source = 'humour'; }

	//Utilisation d'ajax pour placer le résultat dans le conteneurD3

		//On alerte le visiteur si il n'a pas rempli correctement tous les champs
		if (!source) { alert('vous devez sélectionner une source de données'); }
		else 
		{ 
			console.log('layoutrelations va récupérer les relations pour la source ' + source);
			//On récupère le json (layout l210)
			if (source == 'wordnet') { urlsrc = "{{ path('sources_wordnet_relations')}}"; } 
			else if (source == 'dbpedia') { urlsrc = "{{ path('sources_db_pedia_relations')}}"; } 
			else if (source == 'debian') { urlsrc = "{{ path('sources_debian_relations')}}"; } 
			else if (source == 'humour') { urlsrc = "{{ path('sources_humour_relations')}}"; } 
			//Astuce pour plus tard : Comment insérer des paramètres à la route ?
			//Réponse : Routing.generate('relais_relais_index', { source: source }), //FOSJsRoutingBundle
			else { alert("Source " + source + " non prise en charge"); }
			$.getJSON(
				urlsrc,
				//Quand on l'a récupéré : (layout l237)
				function(data)
				{
					console.log('layout a récupéré le json suivant :');
					console.log(data);
					var listerel = '';
					data.forEach( function(rel) { listerel += '<option> ' + rel + ' </option>'; } );
					$('#form_relations').html(listerel);
				}
			); 
		}
})();

