<nav id='infos'>
	<ul class="tabs">
		<li><a href="#wordnetSite">Wordnet</a></li>
		<li><a href="#wikipedia">Wikipedia</a></li>
		<li><a href="#debian">Debian</a></li>
	</ul>
	<div id="wordnetSite">
		<!--contenu -->
	</div>
	<div id="wikipedia">
		<!--contenu -->
	</div>
	<div id="debian">
		<!--contenu -->
	</div>
</nav>