<nav id='infos'>
	<ul class="tabs">
		<li><a href="#wordnetSite">Wordnet</a></li>
		<li><a href="#wikipediaSite">Wikipedia</a></li>
		<li><a href="#debianSite">Debian</a></li>
	</ul>
	<div id="wordnetSite">
		<!--contenu -->
	</div>
	<div id="wikipediaSite">
		<!--contenu -->
	</div>
	<div id="debianSite">
		<!--contenu -->
	</div>
</nav>
