<nav id='menuadmin'>
	<ul>
		<li>

				{% image '@RelaisRelaisBundle/Resources/public/images/menusite/logoqunit.png' %}
					<img onClick="chargerTests()"
						src="{{ asset_url }}" height="40px" width="40px"
						title="{{ 'Tests Javascript' | trans}}"/>
				{% endimage %}

		</li>
	</ul>
</nav>
