<nav id="options">
	<ul>
		<li>
			<span>{{ 'limite' | trans }} <br/>
				{{ form_widget(formrecherche.limite) }}
			</span>
		</li>
		<li>
			<span>{{ 'rels' | trans }} <br/>
				<label>
					{{ form_widget(formrecherche.relations) }}
				</label>
			</span>
		</li>
	</ul>
</nav>
