<nav id="options">
	<ul>
		<li>
			<span>{{ 'limite' | trans }} <br/>
				<input id="limite" type="number" name="taille" id="taille"/>
			</span>
		</li>
		<li>
			<span>{{ 'rels' | trans }} <br/>
				<label>
					<select id="selectRelation" class="selectRelation" multiple size="2">
					</select>
				</label>
			</span>
		</li>
	</ul>
</nav>
