<nav id='recherche'>
	<ul>
		<li>
			<input type="text" name="mot" id="mot"/>
			{% image '@RelaisRelaisBundle/Resources/public/images/menusite/logorotation.png' %}
				<img id="btrecherche" onClick="rechercher('{{ path('relais_relais_layout') }}');"
					src="{{ asset_url }}" height="40px" width="40px"
					title="{{ 'rechercher' | trans}}"/>
			{% endimage %}
		</li>
	</ul>
</nav>
